<div id="vcomments"></div>
<script type="module">
    import { init } from 'https://registry.npmmirror.com/@waline/client/3.0.0-alpha.1/files/dist/waline.mjs';
    const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    const bodyElement = document.getElementsByTagName('body')[0];
    const htmlElement = document.getElementsByTagName('html')[0];
    function syncColorMode() {
        const datamode = htmlElement.getAttribute('data-mode');
        if (datamode) {
            bodyElement.setAttribute("color-mode", datamode);
        } else {
            if (darkModeMediaQuery.matches) {
                bodyElement.setAttribute("color-mode", "dark");
            } else {
                bodyElement.setAttribute("color-mode", "light");
            }
        }
    }
    syncColorMode();
    document.getElementById("waline_pageview").setAttribute("data-path", window.location.pathname);
    document.getElementById("waline_comcount").setAttribute("data-path", window.location.pathname);
    init({
        el: '#vcomments',
        serverURL: 'https://waline.amzcd.top',
        // reaction: true,
        dark: 'body[color-mode="dark"]',
        comment: true,
        pageview: true,
        emoji: [
            '//github.elemecdn.com/@waline/emojis@1.1.0/bilibili',
            '//github.elemecdn.com/@waline/emojis@1.1.0/tw-emoji'
        ],
        locale: {
            placeholder: '你猜我的评论区在等待谁？（留下邮箱可收取回复通知）'
        },
        turnstileKey: "0x4AAAAAAAFWv6PMNbfWlJDz"
    });
    darkModeMediaQuery.addListener((event) => {
        syncColorMode();
    });
    const observer = new MutationObserver((mutationsList) => {
        syncColorMode();
    });
    observer.observe(htmlElement, { attributes: true, attributeOldValue: true });
</script>

<script>
    function disableWaline() {
        var styleElement = document.createElement('style');
        var styleContent = `
        #vcomments {
            position: relative;
        }
        #vcomments *:not(.cover) {
            filter: blur(5px);
            pointer-events: none;
        }
        `;
        styleElement.textContent = styleContent;
        styleElement.id = "styleElement";
        var headElement = document.head;
        headElement.appendChild(styleElement);
        var vcommentsCover = document.createElement('div');
        vcommentsCover.id = "vcommentsCover";
        vcommentsCover.innerHTML = `应法规要求，评论系统停止向中国用户开放。<br/><br/><button type="button" class="btn btn-primary cover" aria-label="Update" id="retry">重试</button>`;
        var vcommentsDiv = document.getElementById('vcomments');
        vcommentsDiv.style.position = 'relative'; // 确保vcomments有定位属性
        vcommentsCover.style.position = 'absolute';
        vcommentsCover.style.top = '0'; // 将vcommentsCover显示在vcomments的顶部
        vcommentsCover.style.left = '50%'; // 水平居中
        vcommentsCover.style.textAlign = 'center';
        vcommentsCover.style.transform = 'translate(-50%, 50%)'; // 水平居中
        vcommentsCover.style.zIndex = 999;
        vcommentsCover.setAttribute("class", "cover")
        vcommentsDiv.insertBefore(vcommentsCover, vcommentsDiv.firstChild); // 将vcommentsCover插入到vcomments中的第一个子元素前面

        document.getElementById("retry").onclick = function () {
            checkRegion();
        };
    }

    function checkRegion() {
        const unavaliable_region = ["CN", "TW", "HK", "MO"];
        fetch("https://ipapi.co/country_code")
            .then(response => {
                if (!response.ok) {
                    throw new Error("Network response was not ok");
                    var vcommentElement = document.getElementById("vcommentsCover");
                    if (vcommentElement) {
                        vcommentElement.parentNode.removeChild(vcommentElement);
                    }
                    var styleElement = document.getElementById("styleElement");
                    if (styleElement) {
                        styleElement.parentNode.removeChild(styleElement);
                    }
                    disableWaline();
                }
                return response.text(); // or use response.json() if the response is JSON
            })
            .then(data => {
                console.log("IP地址：" + data);
                var vcommentElement = document.getElementById("vcommentsCover");
                if (vcommentElement) {
                    vcommentElement.parentNode.removeChild(vcommentElement);
                }
                var styleElement = document.getElementById("styleElement");
                if (styleElement) {
                    styleElement.parentNode.removeChild(styleElement);
                }
                if (unavaliable_region.includes(data)) {
                    // document.getElementById("vcomments").setAttribute("style", "filter: blur(20px);");
                    disableWaline();
                } else {
                    clearInterval(intervalID);
                }
            })
            .catch(error => {
                console.error("Fetch error: " + error);
            });
    }
    disableWaline();
    checkRegion();
    var intervalID = setInterval(checkRegion, 15000);
    window.ikun = 0;
    function cxk(){
        window.ikun += 1;
        if (window.ikun >= 5) {
            try {
                clearInterval(intervalID);
                var vcommentElement = document.getElementById("vcommentsCover");
                if (vcommentElement) {
                    vcommentElement.parentNode.removeChild(vcommentElement);
                }
                var styleElement = document.getElementById("styleElement");
                if (styleElement) {
                    styleElement.parentNode.removeChild(styleElement);
                }
            } finally {
                ;
            }
        }
    }
</script>