<div id="vcomments"></div>
<script type="module">
    import { init } from 'https://registry.npmmirror.com/@waline/client/3.0.0-alpha.1/files/dist/waline.mjs';
    const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    const bodyElement = document.getElementsByTagName('body')[0];
    const htmlElement = document.getElementsByTagName('html')[0];
    function syncColorMode() {
        const datamode = htmlElement.getAttribute('data-mode');
        if (datamode) {
            bodyElement.setAttribute("color-mode", datamode);
        } else {
            if (darkModeMediaQuery.matches) {
                bodyElement.setAttribute("color-mode", "dark");
            } else {
                bodyElement.setAttribute("color-mode", "light");
            }
        }
    }
    syncColorMode();
    document.getElementById("waline_pageview").setAttribute("data-path", window.location.pathname);
    document.getElementById("waline_comcount").setAttribute("data-path", window.location.pathname);
    init({
        el: '#vcomments',
        serverURL: 'https://waline.amzcd.top',
        reaction: true,
        dark: 'body[color-mode="dark"]',
        comment: true,
        pageview: true,
        emoji: [
            '//github.elemecdn.com/@waline/emojis@1.1.0/bilibili',
            '//github.elemecdn.com/@waline/emojis@1.1.0/tw-emoji'
        ],
        locale: {
            placeholder: '你猜我的评论区在等待谁？（留下邮箱可收取回复通知）'
        },
        turnstileKey: "0x4AAAAAAAFWv6PMNbfWlJDz"
    });
    darkModeMediaQuery.addListener((event) => {
        syncColorMode();
    });
    const observer = new MutationObserver((mutationsList) => {
        syncColorMode();
    });
    observer.observe(htmlElement, { attributes: true, attributeOldValue: true });
</script>

<script>

    function disableWaline(){
        var styleElement = document.createElement('style');
        var styleContent = `
        #vcomments {
            position: relative;
        }
        #vcomments::after {
            content: "停止使用";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgba(255, 255, 255, 0.8);
            padding: 10px;
            filter: blur(5px);
            pointer-events: none;
        }
        `;
        styleElement.textContent = styleContent;
        var headElement = document.head;
        headElement.appendChild(styleElement);
    }

    const unavaliable_region = ["CN", "TW", "HK", "MO"];
    fetch("https://waline.amzcd.top/ip")
        .then(response => {
            if (!response.ok) {
                throw new Error("Network response was not ok");
            }
            return response.text(); // or use response.json() if the response is JSON
        })
        .then(data => {
            console.log("IP地址：" + data);
            if (unavaliable_region.includes(data)) {
                // document.getElementById("vcomments").setAttribute("style", "filter: blur(20px);");
                disableWaline();
            }
        })
        .catch(error => {
            console.error("Fetch error: " + error);
        });
</script>